// mixins
@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@function paddingLevel($level) {
  @return $level / 13.66;
}

@mixin muiRoundButton($padSize) {
  min-width: 0;
  min-height: 0;
  padding: paddingLevel($padSize) + vw;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 0.0732vw solid transparent;
  transition: 100ms ease;

  &:hover {
    transition: 100ms ease;
  }

  &>span {
    width: 100%;
    height: 100%;
  }
}

$current-player-height: 93px;

/* Container */
.player {
  padding: 0 1vw;
  height: $current-player-height;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;

  color: var(--primary-color);
  background-color: var(--secondary-color);

  .player__icon {
    height: 100%;
    width: 100%;
    .level1 {
      fill: var(--primary-color);
    }

    .level2 {
      fill: var(--accent-color);
    }
  }
}

/* Progress Bar Tooltip */
.player__progress-bar__tool-tip {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  z-index: -1;

  & > div {
    --container-width: 50px;
    position: absolute;
    top: 7px;
    height: 25px;
    width: var(--container-width);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    @include flexCenter(row);

    border-radius: 5px;

    .tool-tip-value {
      @include flexCenter(row);
      font-size: 13px;
      font-weight: 500;
    }

    &::before {
      content: '';
      --size: 8px;
      height: var(--size);
      width: var(--size);
      background-color: inherit; // for debug
      position: absolute;
      bottom: 0;
      transform: translateY(50%) rotate(45deg);
    }

    transform-origin: bottom center;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    filter: drop-shadow(2px 4px 6px black);

    &[hidden] {
      transform: translateY(60%) scale(0);
    }
  }
}

/* Album Art Styles */
.player__album-art {
  @include flexCenter(row);
  margin: 0 0.45vw 0 0.8vw;
  height: 4.4vw;
  min-width: 4.4vw;
  border-radius: 50%;
  overflow: hidden;
  // box-shadow: 0 0 13px 5px rgba(0, 0, 0, 0.5);
  box-shadow: var(--box-shadow);

  img {
    width: 100%;
    height: 100%;
  }
}

/* Song Details */
.player__song-details {
  margin: auto 0.7vw ;
  min-width: 150px;
  width: 12vw;
  height: 38.7%;

  display: grid;
  grid-template-rows: 5fr 4fr;

  & > div:nth-child(1) {
    font-size: 0.85rem;
  }

  & > div:nth-child(2) {
    font-size: 0.65rem;
  }

  a {
    color: inherit;
    text-decoration-line: none;

    &:hover {
      text-decoration: underline;
    }

    &:not(:first-child)::before {
      content: ",\00A0";
      display: inline-block;
      text-decoration: none;
    }
  }
}

/* Playback Buttons */
.player__controller {
  height: $current-player-height / 2;
  width: 17vw;
  min-width: 200px;

  @include flexCenter(row);
  justify-content: space-evenly;

  div {
    @include flexCenter(row);
    height: 100%;
  }

  div:nth-child(1),
  div:nth-child(2),
  div:nth-child(4),
  div:nth-child(5) {
    width: 14.7%;

    button {
      @include muiRoundButton(8);
      &:hover {
        opacity: 0.8;
        background-color: rgba(100%, 100%, 100%, 0.21);
        // box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.5);
        box-shadow: var(--box-shadow);
      }
    }
  }

  div:nth-child(1),
  div:nth-child(5) {
    &[attr-enabled=true] path {
      fill: var(--accent-color);
    }
  }

  div:nth-child(3) {
    width: $current-player-height / 2;

    button {
      @include muiRoundButton(2);
      border: none;
      background-color: transparent;

      &:hover {
        transform: scale(1.05);
        // box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.5);
        box-shadow: var(--box-shadow);
      }

      &:active {
        transform: initial;
      }
    }
  }
}

/* Time Display */
.player__time-display {
  font-size: 0.8rem;
}

/* Progress Bar */
.player__progress-bar {
  @include flexCenter(row);

  min-width: 350px;
  height: 100%;

  flex-grow: 1;

  position: relative;
  z-index: 0;

  canvas {
    width: 100%;
    height: 60%;
  }

}

/* Volume Control */
.player__volume-controller {
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 11vw;

  button {
    @include muiRoundButton(6);
    height: 100%;
    width: auto;
    aspect-ratio: 1 / 1;
    border-radius: 10%;

    &:hover {
      opacity: 0.8;
      background-color: rgba(100%, 100%, 100%, 0.21);
      box-shadow: var(--box-shadow);
    }
  }

  .MuiSlider-root {
    min-width: 70%;
    width: auto;
    color: var(--accent-color);

    & > span {
      background-color: var(--accent-color);
    }

    .MuiSlider-rail {
      transition: 200ms ease;
    }


    .MuiSlider-thumb {
      height: 0;
      width: 0;

      &:hover {
        width: 10px;
        height: 10px;
        box-shadow: none;
        filter: drop-shadow(2px 4px 6px black);
      }
    }

    &:hover .MuiSlider-rail {
      box-shadow: var(--box-shadow);
    }


    .MuiSlider-valueLabel {
      background-color: var(--primary-color);
      border-radius: 5px;
      height: 25px;
      color: var(--secondary-color);
      font-size: 13px;
    }

    .MuiSlider-valueLabelOpen {
      opacity: 1;
    }
  }

  &[attr-muted=yes]>span {
    filter: saturate(0);
  }
}
