/* Animated Text styles */
.text {
  overflow: hidden;
  width: 100%;

  div {
    white-space: nowrap;
    display: inline-block;
  }

  [data-animation=off] {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
  }
}

/* Time Display styles */
.time_display {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    min-width: 7ch;
    text-align: center;
  }
}


/* Resizable Child Container Styles */
.resizable-child-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  .gutter {
    height: 100%;
    width: 100%;
    background-color: var(--secondary-color, red);

    &::after {
      content: '';
      position: relative;
      display: block;

      background-color: inherit;
      opacity: 0;
      transition: opacity 500ms;
    }

    &:hover::after {
      opacity: 0.4;
    }
  }

  &.rcc--horizontal {
    height: 100%;
    flex-direction: row;

    .gutter {
      cursor: col-resize;

      &::after {
        width: 15px;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &.rcc--vertical {
    width: 100%;
    flex-direction: column;

    .gutter {
      cursor: row-resize;

      &::after {
        height: 15px;
        width: 100%;
        transform: translateY(calc(2.5px - 50%));
      }
    }
  }
}
